body {
  padding:0px;
  margin:0px;
}

a {
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  font-size: 0.8em;
  z-index: 300;
}

.toolbar-btn {
  height: 34px;
  color: #777;
  background-color: #fff;
  display: inline-block;
  padding: 8px 12px;
  margin-top: auto;
  vertical-align: middle;
  /*margin-bottom: 0;*/
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.slider-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#slide-transparency {
  width: 100px;
  display: inline-block;
}

.full {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content {
  position: relative;
  top: 60px;
  width: 100%;
  /*display: inline;*/
  /*overflow:hidden;*/
}

.map-left-sidebar {
  display: inline;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 500;
}

.map-toolbar {
  display: inline;
  position: absolute;
  top: 60px;
  left: 325px;
  padding: 10px;
  z-index: 500;
}

.map-legend-container {
  position: absolute;
  top: 120px;
  left: 325px;
  margin-left: 10px;
  /*padding: 10px;*/
  z-index: 500;
  /*width: 300px;*/

  padding: 10px;
  width: 314px;
  /*min-height: 80px;*/
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.map-right-sidebar {
  display: inline;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 500;
}

#map-loader {
  background: rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  padding-top: 50px;
  z-index: 1000;
  text-align: center;
}

.btn-tooltip {
  display: inline-block;
}

.tooltip-inner {
  text-align: left;
}

#btn-catchments {
  width: 107px;
}

.header a {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.header a:visited {
  color: white;
}

.map-container {
  width: 100%;
  min-height: 700px;
}

.filter-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 420px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.huc-container {
  padding: 10px;
  width: 320px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.region-container {
  padding: 10px;
  width: 320px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.huc-table {
  height: 150px;
  overflow-y:scroll;
}

.huc-table tbody {
  font-size: 0.8em;
}

.huc-name {
  font-weight: bold;
}

.catchment-table {
  height: 150px;
  overflow-y:scroll;
}

.catchment-table tbody {
  font-size: 0.8em;
}

.catchment-name {
  font-weight: bold;
}

.tooltip {
  z-index: 3000;
}

#charts {
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.summary-container {
  /*
  position: absolute;
  left: 0;
  top: 330px;
  */

  width: 320px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.filter-container > hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

#btn-resolution-group {
  margin-left: 5px;
}

#btn-region-group {
  margin-left: 5px;
}

.legend-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 320px;
  padding: 10px;
  height: 140px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;
}

.glyphicon {
  opacity: 0.5;
}

.glyphicon:hover {
  opacity: 1;
}

.legend {
  margin-top: 10px;
}

#map path.boundary {
  fill: none;
  stroke: rgba(0,0,0,0.5);
}

#map path.huc {
  stroke: rgba(200,200,200);
}

#map path.huc:hover {
  stroke: black;
}

#map path.catchment {
  stroke: rgba(200,200,200);
}

#map path.highlight {
  stroke: red;
  fill: none;
  /*opacity: 0.5;*/
}

#map path.hover {
  stroke: black;
  fill: none;
  /*opacity: 0.5;*/
}

#map path.clicked {
  stroke: orangered;
  fill: none;
  /*opacity: 0.5;*/
}

.chart path.highlight {
  opacity: 0.5;
}

.filters-toolbar {
  padding-bottom: 10px;
}

.select-title {
  font-weight: bold;
  font-size: 1.1em;
  font-variant: small-caps;
  margin-bottom: 5px;
}

.bootstrap-select .dropdown-toggle, .bootstrap-select.btn-default {
  border: none;
  outline: none;
}

body {
  font-family: "proxima-nova-alt", Helvetica, Arial, sans-serif;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

.chart {
  /*display: inline-block;*/
  /*height: 150px;*/
  width: 380px;
  margin-bottom: 5px;
  /*margin-top: 15px;*/
}

#totals {
  text-align: right;
}

.chart hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #aaa;
  font-weight: normal;
}

.delete {
  padding-left: 1em;
  font-size: smaller;
  color: #fcc;
  cursor:pointer;
}

.chart .title {
  font-weight: bold;
  cursor: pointer;
  height: 25px;
}

.summary-box {
  position: fixed;
  width: 200px;
  left: 0;
  top: 130px;
  padding: 20px;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.highlight.bar2 {
  fill: orangered;
}

.foreground.bar.output {
  fill: red;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

line.mean {
  stroke: rgb(76, 174, 255);
  stroke-width: 2px;
}

line.val {
  stroke: orangered;
  stroke-width: 2px;
}

line.hover {
  stroke: #000;
  stroke-width: 2px;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

aside {
  position: absolute;
  font-size: smaller;
  width: 220px;
}

#map {
  /*width: 770px;
  height: 750px;*/
  position: absolute;
  left: 0px;
  top: 0px;
}

.legend ul {
  list-style-type: none;
  margin: 0;
}

.legend .legend-item {
  width: 20%;
  height: 20px;
  text-align: center;
}

.legend .legend-item span {
  position: relative;
  top: 20px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background: #262c40;
  color: white;
  padding: 10px;
  font-family: 'Open Sans', "proxima-nova-alt", Helvetica, Arial, sans-serif;
  z-index: 800;
}

.header .brand {
  font-variant: small-caps;
  font-size: 20pt;
}

ul.dropdown-menu.variables{
  height: 100px;
  overflow-y: scroll;
}

#submap{
  position: absolute;
  top: 134px;
  left: 47px;
  border: 1px solid black;
  background: white;
}

#title{
  font-size: 30px;
}

.controls{
  position: relative;
  top: 24.9px;
  width: 130px;
}

.controls .button{
  font-size:20px;
}

.controls .btn-label{
 float: left;
  font-size: 10px;
  margin-right: -48px;
}

.minimize-button{
  padding: 0px 2px;
  margin-right: 5px;
}

.minimized{
  height:34px;
  overflow:hidden;
}

.datacontrol{
  text-align: left;
}

.databutton{
  margin-left:-43px;
}

#summary{
  display: none;
  position: absolute;
  top:120px;
  right:10px;
  background:rgba(255,255,255, 0.7);
  border-radius:5px;
  width: 300px;
  height: auto;
}

#summary h3{
  margin: 22px;
  margin-bottom: -17px;
}

#summary .value{
  font-size: 25px;
}

#summary .stat{
  float: left;
  width: 92px;
  font-size: 9px;
  border-right: 1px solid black;
  text-align: center;
}

.not-active{
  pointer-events:none;
  cursor:default;
  color:grey;
}

.modal-dialog {
  margin-top: 80px;
}

.modal {
  z-index: 3000;
}

.tab-pane h2 {
  margin-top: 0;
}

.tab-content {
  max-height: 500px;
  overflow-y: auto;
}
.tab-content h4 {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}
