.leaflet-control-customWeight a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-customWeight {
	box-shadow: 0 1px 7px #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-control-customWeight a {
        background-color: white; 
	background-image: url(../images/checkmark.png);
	width: 32px;
	height: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-touch .leaflet-control-customWeight a {
	width: 32px;
	height: 32px;
}

.leaflet-control-customWeight .leaflet-control-customWeight-div,
.leaflet-control-customWeight-expanded .leaflet-control-customWeight-toggle {
	display: none;
}

.leaflet-control-customWeight-expanded .leaflet-control-customWeight-div {
	display: block;
}

.leaflet-control-customWeight-button {
	display: block;
	text-align: center;
	margin: auto;
}

.leaflet-control-customWeight-label {
	display: inline-block;
	margin: 8px 2px 2px 2px;
}

.leaflet-control-customWeight-h5 {
	margin: 4px;
	text-align: center;
	font-weight: bold;
}

.leaflet-control-customWeight-input {
       margin: 4px;
       text-align: center;
       position: absolute;
       right: 0px;
}

#prioritization {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 1011px;
}

#priorWeights {
  border-bottom: 1px solid black;
}

#core {
  float: left;
  //border-right: 1px solid black;
}

#attr {
  float: left;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

#attrSelDiv {
  max-height: 243px;
  overflow-y: auto;
}

.attrCheck, .extraCheck {
  transform: scale(1.2) !important;
  margin-right: 7px !important;
}

.priorHeader1, .priorHeader2, .priorHeader3, .priorHeader4 {
  text-align: center;
  border-bottom: 1px solid black;
}

.priorHeader1 {
  background: rgba(51, 204, 51, 0.2);
}

.priorHeader1:hover {
  background: rgba(51, 204, 51, 0.5);
}

.priorHeader2 {
  background: rgba(0, 0, 255, 0.2);
}

.priorHeader2:hover {
  background: rgba(0, 0, 255, 0.5);
}

.priorHeader3 {
  background: rgba(128, 0, 128, 0.2);
}

.priorHeader3:hover {
  background: rgba(128, 0, 128, 0.5);
}

.priorHeader4 {
  background: rgba(255, 165, 0, 0.2);
}

.priorHeader4:hover {
  background: rgba(255, 165, 0, 0.5);
}

#coreComp, #crossPrior {
  text-align: center;
  min-width: 680px;
  //border-right: 1px solid black;
}

#eco {
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: 33%;
}

#transport {
  float: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: 67%;
}

#coldWaterDiv {
  margin-left: 40px;
}

#disrupt {
  float: left;
  width: 55%;
  border-right: 0.5px solid black;
}

#rof {
  float: left;
  width: 45%;
  border-left: 0.5px solid black;
}

#rofWeights {
  padding-left: 15px;
}

#rofInputs {
  float: left;
}

#priorUpdate {
  text-align: center;
  float: left;
  width: 100%;
}

.connectDiv {
  background: rgba(255, 255, 255, 1);
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.priorInput {
  margin: 5px;
  text-align: center;
  width: 45px;
  font-weight: bold;
  font-size: 15px;
}

.priorTitle {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}

.priorLabel {
  font-weight: bold;
  font-size: 14px;
  margin: 3px 10px 3px 10px;
}

.priorCheck {
  margin-right: 10px !important;
  transform: scale(1.5) !important;
}

.priorHR {
  margin: 8px 0px 4px 0px;
  width: 100%;
  border: none;
  background: white;
  height: 2px;
}

.priorButton {
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
}

.priorDiv {
  text-align: left;
  padding-left: 10px;
}

.priorDiv:hover {
  background: rgba(255,255,255,1);
}

.attrDiv {
  text-align: left;
  padding-left: 35px;
}

.attrDiv:hover {
  background: rgba(255,255,255,1);
}

input[type=radio], input[type=checkbox] {
  margin: 0px 0px 0px 5px;
}

.glyphicon-info-sign {
  margin-right: 5px;
}

.minimize-button {
  margin-left: 5px;
}

